<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="mgs" translate="label" sortOrder="50">
			<label>MGS</label>
		</tab>
		<section id="mgs_geoip_redirect" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
			<label>GeoIpRedirect</label>
			<tab>mgs</tab>
			<resource>MGS_GeoIpRedirect::mgs_geoip_redirect</resource>
			<group id="geoip_redirect_general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>General</label>
				<field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enable GeoIpRedirect</label>
					<source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
				</field>
				<field id="redirection_decline" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Allow Customers To Decline Redirection</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment><![CDATA[The setting allows your website to be compliant with EU regulations regarding geo-blocking and country redirects. <a href="https://ec.europa.eu/digital-single-market/en/geo-blocking-digital-single-market" target="_blank">Details</a>]]></comment>
					<depends>
						<field id="enable">1</field>
					</depends>
				</field>
				<field id="redirect_popup_type" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Redirect Popup Type</label>
					<source_model>MGS\GeoIpRedirect\Model\Config\Source\RedirectPopupType</source_model>
					<depends>
						<field id="redirection_decline">1</field>
						<field id="enable">1</field>
					</depends>
				</field>
				<field id="notification_redirect_popup_text" translate="label comment" type="textarea" sortOrder="40" showInDefault="1" showInStore="1" showInWebsite="0">
					<label>Notification Redirect Popup Text</label>
					<comment><![CDATA[<strong>Note: </strong>This text will be displayed to a customer on a popup before redirection happens.]]></comment>
					<depends>
						<field id="redirection_decline">1</field>
						<field id="redirect_popup_type">0</field>
						<field id="enable">1</field>
					</depends>
				</field>
				<field id="confirmation_redirect_popup_text" translate="label comment" type="textarea" sortOrder="40" showInDefault="1" showInStore="1" showInWebsite="0">
					<label>Confirmation Redirect Popup Text</label>
					<comment><![CDATA[<strong>Note: </strong>This text will be displayed to a customer on a popup before redirection happens. He will be allowed to decline redirection and stay at the initial website.]]></comment>
					<depends>
						<field id="redirection_decline">1</field>
						<field id="redirect_popup_type">1</field>
						<field id="enable">1</field>
					</depends>
				</field>
			</group>
			<group id="restriction" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Restriction</label>
				<field id="apply_to_logic" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Apply To Logic</label>
					<source_model>MGS\GeoIpRedirect\Model\Config\Source\ApplyToLogic</source_model>
				</field>
				<field id="accepted_urls" translate="label comment" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
					<label>Accepted URLs</label>
					<depends>
						<field id="apply_to_logic">1</field>
					</depends>
					<comment><![CDATA[Please specify relative URLs (like /about-us/). Each URL on a separate line.]]></comment>
				</field>


				<field id="excepted_urls" translate="label comment" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Excepted URLs</label>
					<depends>
						<field id="apply_to_logic">2</field>
					</depends>
					<comment><![CDATA[Please specify relative URLs (like /about-us/). Each URL on a separate line.<br>
Note: URLs are excluded by partial occurrence. If you specify "blog", all URL's containing "blog" will be excluded]]></comment>
				</field>
				<field id="user_agents_to_ignore" translate="label" type="textarea" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>User Agents To Ignore</label>
					<source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
				</field>
				<field id="Ip_to_ignore" translate="label comment" type="textarea" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Ip To Ignore</label>
					<comment><![CDATA[Each IP on a separate line.]]></comment>
				</field>
				<field id="first_visit_redirect" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>First Visit Redirect Only</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment><![CDATA[<strong style="color:red">Warning!</strong> If you select "No" visitors will be not able to change Store View / currency.]]></comment>
				</field>
				<field id="redirect_between_website" translate="label tooltip" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Redirect Between Website</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<tooltip><![CDATA[Yes - a customer will be redirected to the store view of a website from another website within your Magento.<br/>
(e.g. a customer tried to reach the default store view of the Website A, but was redirected to the store view 2 of the Website B)<br/>
No - a customer will be redirected to another store view only within one website. No redirection will occur if a customer reached another website of your Magento.<br/>
(e.g. a customer tried to reach the default store view of the Website A - success. A customer tried to reach the default store view of Website B and was redirected to the store view 2 of Website B)]]></tooltip>
				</field>
			</group>
			<group id="restriction_by_ip" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Restriction By Ip</label>
				<field id="ip_to_block" translate="label comment" type="textarea" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Ip To Block</label>
					<comment><![CDATA[Each IP on a separate line.]]></comment>
				</field>
				<field id="cms_page_to_display" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>CMS Page To Display</label>
					<source_model>Magento\Cms\Model\Config\Source\Page</source_model>
					<comment><![CDATA[<strong>Note:</strong> the chosen CMS page will be displayed to the restricted customer]]></comment>
				</field>
			</group>
			<group id="redirect_within_your_magento" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Redirect Within Your Magento Instance</label>
				<field id="enable_country_to_store_view" translate="label comment tooltip" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enable Country --> Store View</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment><![CDATA[Use this setting to set a store view/website redirection for your Magento instance. If you need to set a redirection to a website (not store view), please set the redirection to the default store view of the website.
Using this type of redirection a user will be redirected to the same page type. (e.g. from a product page to the same product page of another store view/website)]]></comment>
				</field>
				<field id="affected_countries" translate="label comment" type="multiselect" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="1">
					<label>Affected Countries</label>
					<source_model>Magento\Directory\Model\Config\Source\Country</source_model>
				</field>

			</group>
			<group id="country_to_currency_switch" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Country to Currency Switch</label>
				<field id="enable_country_to_currency" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enable Country --> Currency</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="country_currency_redirect" translate="label comment" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Country to Currency</label>
					<frontend_model>MGS\GeoIpRedirect\Block\Adminhtml\Config\Form\Field\CountryToCurrency</frontend_model>
					<backend_model>MGS\GeoIpRedirect\Model\System\Config\Backend\Currency</backend_model>
				</field>
			</group>
			<group id="redirect_to_website_outside" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Redirect To Website Outside Your Magento Instance</label>
				<field id="enable_country_to_url" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enable Country --> URL</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment><![CDATA[Use this setting set a redirection to an external website. A user will be redirected just to the specified URL.]]></comment>
				</field>
				<field id="country_url_redirect" translate="label comment" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Country to Currency</label>
					<frontend_model>MGS\GeoIpRedirect\Block\Adminhtml\Config\Form\Field\CountryToUrl</frontend_model>
					<backend_model>MGS\GeoIpRedirect\Model\System\Config\Backend\Url</backend_model>
				</field>
			</group>
		</section>
	</system>
</config>
