<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="mgs" translate="label" sortOrder="50">
			<label>MGS</label>
		</tab>
		<section id="mgs_geoip_data" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
			<label>GeoIp Data</label>
			<tab>mgs</tab>
			<resource>MGS_GeoIp::mgs_geoip_data</resource>
			<group id="import_data_v4" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Import Data GeoIp V6</label>
				<field id="data_v4" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<frontend_model>MGS\GeoIp\Block\Adminhtml\Config\Import</frontend_model>
				</field>

			</group>

			<group id="import_data_v6" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Import Data GeoIp V6</label>
				<field id="data_v6" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<frontend_model>MGS\GeoIp\Block\Adminhtml\Config\Import</frontend_model>
				</field>
			</group>
			<group id="import_data_location" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Import Data GeoIp Location</label>
				<field id="data_location" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<frontend_model>MGS\GeoIp\Block\Adminhtml\Config\Import</frontend_model>
				</field>
			</group>


		</section>
	</system>
</config>
