<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="mgs" translate="label" sortOrder="50">
			<label>MGS</label>
		</tab>
		<section id="mgs_geoip_data" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
			<label>GeoIP </label>
			<tab>mgs</tab>
			<resource>MGS_GeoIp::mgs_geoip_data</resource>
			<group id="general" translate="label comment" sortOrder="10" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>GeoIP Configuration</label>
				<field id="enabled" translate="label comment" sortOrder="1" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enable GeoIP</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment>Please download GeoIP before enabling GeoIP</comment>
				</field>
				<!--<field id="download_library" translate="label comment" type="button" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Enable GeoIP</label>
					<frontend_model>MGS\GeoIp\Block\Adminhtml\System\Config\DownloadGeoIp</frontend_model>
				</field>-->
				<field id="import_library" translate="label comment" type="button" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>GeoIP Data</label>
					<frontend_model>MGS\GeoIp\Block\Adminhtml\System\Config\ImportGeoIp</frontend_model>
				</field>

			</group>


		</section>
	</system>
</config>
